.MainHeader{
    width: 100%;
    flex: 0.1;
    background: #2c2c34;
    display: flex;
    flex-direction: column;
}

.DnyaanHeader{
    flex:0.5;
    border-bottom: white solid 2px;
}

.NavigationPanel{
    flex:0.5;

    /*overflow-x: scroll;*/
}
.NavigationPanel>div{
    /*border: white solid 2px;*/
}