.labelNameDiv{
    color: white;
    display: flex;
    
    justify-content: center;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding: 0px;
    
}

.labelNameDiv:hover{
    border-radius: 30px;
}


.logoIcon{
    padding-right: 0px;
    margin-right: 5px;
}
