.menuCardDiv{
    display: inline-flexbox;
    flex-wrap: wrap;
    margin-left: 50px;
    width:350px;
    height:fit-content;
    background-color: #f3f4ed;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    box-shadow: 3px 3px #f8ede3;


}
h3{
    font-weight: 100;
    float:left;
}