.studentStructureTopIconsDiv{
    display: flex;
    margin-right: 0px;
    margin-left: auto;
    cursor: pointer;
    padding: 20px;
    color: #56776c;
    
    
}
.notificationsActiveIcon{
    align-items: center;
    margin-right: 20px;
}
.notificationsActiveIcon:hover{
    color: #184d47;
}
.accountCircleIcon{
    align-items: center;
    display: flex;
    margin-right: 10px;
}
.accountCircleIcon:hover{
    color: #184d47;
 
}