.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0.5;
    z-index: 0;
}

.FirstPage{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    z-index: 1;
    /*opacity: 0.5;*/
    /*height: 100vh;*/
    /*width: 100vw;*/
}

.top_flex{
    display: flex;
    flex: 0.3;
    align-items: center;
    z-index: 3;
    justify-content: space-between;
}

.bottom_flex{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
    flex: 0.7;
}

.image{
    font-size: 0;
}

.log_in{

}
