
.svg{
    position: absolute;
    top: 0px;
    opacity: 0.5;
}

.welcome{
    display: flex;
    color: white;
    z-index: 30;
    text-align: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background: blue;
    opacity: 0.5;
    height: 20vh;
}

.welcome > div{
    z-index: 40;
}

.example_e {
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_e:hover {
    color: #404040 ;
    font-weight: 700 ;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}